<!DOCTYPE html>
<html lang="en">
{{block "head" "example"}}
<head>
    <meta charset='UTF-8'/>
    <title>{{.}}</title>
    <script src='https://unpkg.com/htmx.org@2.0.3/dist/htmx.min.js' integrity='sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq' crossorigin='anonymous'></script>
    <script src='https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js'></script>

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css'>
</head>
{{end}}
<body hx-ext='response-targets'>
<main class='container'>
    <table>
        <thead>
        <tr>
            <th>Fruit</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">

        {{- define "view-row" -}}
            <tr>
                <td>{{ .Name }}</td>
                <td id="count" hx-get='/fruits/{{.ID}}/edit'>{{ .Value }}</td>
            </tr>
        {{- end -}}

        {{range .}}
          {{template "view-row" .}}
        {{end}}

        {{define "edit-row" -}}
            <tr>
                <td>{{ .Row.Name }}</td>
                <td>
                    <form hx-patch='/fruits/{{.Row.ID}}'>
                        {{block "count" . -}}
                            <input aria-label='Count' type='number' name='count' value='{{ .Row.Value }}' step='1' min='0'>
                        {{- end}}
                        <input type='submit' value='Update'>

                        <pre>{{.}}</pre>
                    </form>
                    <p id='error'>{{.Error}}</p>
                </td>
            </tr>
        {{- end}}

        {{- define "GET /{$} List(ctx)" -}}
          {{template "index.gohtml" .Data}}
        {{- end -}}

        {{- define "GET /fruits/{id}/edit GetFormEditRow(id)" -}}
          {{template "edit-row" .Data}}
        {{- end -}}

        {{- define "PATCH /fruits/{id} SubmitFormEditRow(id, form)" }}
            {{- if .Data.Error -}}
                {{template "edit-row" .Data}}
            {{- else -}}
                {{template "view-row" .Data.Row}}
            {{- end -}}
        {{ end -}}

        </tbody>
    </table>
</main>
</body>
</html>

{{- define "GET /help" -}}
<!DOCTYPE html>
<html lang='us-en'>
{{template "head" "Help"}}
<body>
<main class='container'>
    Hello, help!
</main>
</body>
</html>
{{- end -}}
