{{- define "with a findable type" -}}
    {{- /* gotype:github.com/crhntr/template/internal/example.Website */ -}}
		<p>{{.Name}}</p>
{{- end -}}

{{- define "with a standard library type" -}}
    {{- /* gotype: html/template.Template */ -}}
		<p>{{.Name}}</p>
{{- end -}}

{{- define "with an unknown package" -}}
    {{- /* gotype: github.com/crhntr/template/internal/missing.Data */ -}}
		<p>{{.Value}}</p>
{{- end -}}

{{- define "with an unknown identifier" -}}
    {{- /* gotype: github.com/crhntr/template/internal/example.MicroService */ -}}
		<p>{{.Cost}}</p>
{{- end -}}

{{- define "with function identifier" -}}
    {{- /* gotype: github.com/crhntr/template/internal/example.Function */ -}}
		<p>{{.}}</p>
{{- end -}}

{{- define "with variable identifier" -}}
    {{- /* gotype: github.com/crhntr/template/internal/example.Variable */ -}}
		<p>{{.}}</p>
{{- end -}}

{{- define "with malformed package identifier" -}}
    {{- /* gotype: x\&\x.Variable */ -}}
		<p>{{.}}</p>
{{- end -}}


{{- define "with no package comment identifier" -}}
		<p>{{.Value}}</p>
{{- end -}}


{{- define "with missing GOROOT" -}}
    {{- /* gotype: github.com/crhntr/template/internal/example.Website */ -}}
{{- end -}}


{{- define "with no gotype comment" -}}
	Hi, friend!
{{- end -}}

{{- define "with resolver error" -}}
    {{- /* gotype:github.com/crhntr/template/internal/example.Website */ -}}
		<p>{{.Name}}</p>
{{- end -}}
